<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Статистика отзывов</h1>

<p>Количество отзывов: <%= count %></p>

<p>Средняя оценка: <%= average %></p>

<a href="/">Назад</a>
<br>
<a href="/responses">Все ответы</a>

</body>
</html>